---
const title = 'resume';
---

<header class='mb-12 flex w-full flex-wrap pb-3 text-sm sm:flex-nowrap sm:justify-start'>
  <nav class="container mx-auto flex items-center justify-between">
    <a href="/" class="text-xl font-bold">{title}</a>
    <ul class="flex space-x-4">
      <li><a href="/blog" class="hover:text-gray-400">Blog</a></li>
      <li>
        <a href="/tools" class="hover:text-gray-400">Tools</a>
      </li>
    </ul>
  </nav>
</header>
