<section class="flex flex-col gap-y-5 md:flex-row md:gap-y-0">
  <div class="text-xl font-semibold md:w-1/3">
    <h2>Main projects</h2>
  </div>
  <div class="flex flex-wrap gap-2 md:w-2/3">
    <button
      data-popover-target="popover-job-portal"
      class="group relative mb-2 me-2 inline-flex items-center justify-center overflow-hidden rounded-lg bg-gradient-to-br from-purple-600 to-blue-500 p-0.5 text-sm font-medium text-gray-900 hover:text-white focus:outline-none focus:ring-4 focus:ring-blue-300 group-hover:from-purple-600 group-hover:to-blue-500 dark:text-white dark:focus:ring-blue-800"
    >
      <span
        class="relative rounded-md px-5 py-2.5 transition-all duration-75 ease-in group-hover:bg-opacity-0 dark:bg-gray-900"
      >
        Job training portal
      </span>
    </button>

    <button
      data-popover-target="popover-online-registration"
      class="group relative mb-2 me-2 inline-flex items-center justify-center overflow-hidden rounded-lg bg-gradient-to-br from-purple-600 to-blue-500 p-0.5 text-sm font-medium text-gray-900 hover:text-white focus:outline-none focus:ring-4 focus:ring-blue-300 group-hover:from-purple-600 group-hover:to-blue-500 dark:text-white dark:focus:ring-blue-800"
    >
      <span
        class="relative rounded-md px-5 py-2.5 transition-all duration-75 ease-in group-hover:bg-opacity-0 dark:bg-gray-900"
      >
        Online registration
      </span>
    </button>

    <button
      data-popover-target="popover-lookyloopz"
      class="group relative mb-2 me-2 inline-flex items-center justify-center overflow-hidden rounded-lg bg-gradient-to-br from-cyan-500 to-blue-500 p-0.5 text-sm font-medium text-gray-900 hover:text-white focus:outline-none focus:ring-4 focus:ring-cyan-200 group-hover:from-cyan-500 group-hover:to-blue-500 dark:text-white dark:focus:ring-cyan-800"
    >
      <span
        class="relative rounded-md px-5 py-2.5 transition-all duration-75 ease-in group-hover:bg-opacity-0 dark:bg-gray-900"
      >
        LookyLoopz
      </span>
    </button>

    <button
      data-popover-target="popover-kerala-university"
      class="group relative mb-2 me-2 inline-flex items-center justify-center overflow-hidden rounded-lg bg-gradient-to-br from-green-400 to-blue-600 p-0.5 text-sm font-medium text-gray-900 hover:text-white focus:outline-none focus:ring-4 focus:ring-green-200 group-hover:from-green-400 group-hover:to-blue-600 dark:text-white dark:focus:ring-green-800"
    >
      <span
        class="relative rounded-md px-5 py-2.5 transition-all duration-75 ease-in group-hover:bg-opacity-0 dark:bg-gray-900"
      >
        Kerala university portal
      </span>
    </button>

    <button
      data-popover-target="popover-avalis"
      class="group relative mb-2 me-2 inline-flex items-center justify-center overflow-hidden rounded-lg bg-gradient-to-br from-green-400 to-blue-600 p-0.5 text-sm font-medium text-gray-900 hover:text-white focus:outline-none focus:ring-4 focus:ring-green-200 group-hover:from-green-400 group-hover:to-blue-600 dark:text-white dark:focus:ring-green-800"
    >
      <span
        class="relative rounded-md px-5 py-2.5 transition-all duration-75 ease-in group-hover:bg-opacity-0 dark:bg-gray-900"
      >
        Avalis
      </span>
    </button>
  </div>
</section>

<div
  data-popover
  id="popover-job-portal"
  role="tooltip"
  class="invisible absolute z-10 inline-block w-80 rounded-lg bg-gray-800 border-gray-60 text-sm text-gray-500 opacity-0 shadow-sm transition-opacity duration-300 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400"
>
  <div class="p-3">
    <div class="flex">
      <div class="me-3 shrink-0">
        <a href="#" class="block rounded-lg bg-gray-100 p-2 dark:bg-gray-700">
          <img
            class="h-8 w-8 rounded-full"
            src="https://flowbite.com/docs/images/logo.svg"
            alt="Flowbite logo"
          />
        </a>
      </div>
      <div>
        <p
          class="mb-1 text-base text-white font-semibold leading-none dark:text-white"
        >
          <a href="#" class="hover:underline">Job Training Portal</a>
        </p>
        <p class="mb-4 text-sm">
          A comprehensive platform for managing job-oriented training programs
          in AP. It allows officials and training partners to conduct programs
          for Non-Engg and Engg students. Candidates can register, manage
          courses, make payments, enroll in batches, and download certificates.
          Program coordinators can define eligibility criteria and register
          colleges.
        </p>
        <ul class="text-sm">
          <li class="mb-2 flex items-center">
            <span class="me-2 font-semibold text-gray-400">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="h-6 w-6"
              >
                <path
                  fill-rule="evenodd"
                  d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z"
                  clip-rule="evenodd"></path>
              </svg>
            </span>
            <span
              class="me-2 rounded bg-blue-100 px-2.5 py-0.5 text-xs font-medium text-blue-800 dark:bg-blue-900 dark:text-blue-300"
              >UI</span
            >
            <span
              class="me-2 rounded bg-gray-100 px-2.5 py-0.5 text-xs font-medium text-gray-800 dark:bg-gray-700 dark:text-gray-300"
              >Frontend Developer</span
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div data-popper-arrow></div>
</div>

<div
  data-popover
  id="popover-online-registration"
  role="tooltip"
  class="invisible absolute z-10 inline-block w-80 rounded-lg border border-gray-200 bg-white text-sm text-gray-500 opacity-0 shadow-sm transition-opacity duration-300 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400"
>
  <div class="p-3">
    <div class="flex">
      <div class="me-3 shrink-0">
        <a href="#" class="block rounded-lg bg-gray-100 p-2 dark:bg-gray-700">
          <img
            class="h-8 w-8 rounded-full"
            src="https://flowbite.com/docs/images/logo.svg"
            alt="Flowbite logo"
          />
        </a>
      </div>
      <div>
        <p
          class="mb-1 text-base font-semibold leading-none text-gray-900 dark:text-white"
        >
          <a href="#" class="hover:underline">Online registration</a>
        </p>
        <p class="mb-4 text-sm">
          A web system wherein the candidates are able to register for attending
          the examinations and make payments on the go. This registration system
          was made simple so that the candidates are not required to spend much
          time on this.
        </p>
        <ul class="text-sm">
          <li class="mb-2 flex items-center">
            <span class="me-2 font-semibold text-gray-400">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="h-6 w-6"
              >
                <path
                  fill-rule="evenodd"
                  d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z"
                  clip-rule="evenodd"></path>
              </svg>
            </span>
            <span
              class="me-2 rounded bg-blue-100 px-2.5 py-0.5 text-xs font-medium text-blue-800 dark:bg-blue-900 dark:text-blue-300"
              >UI</span
            >
            <span
              class="me-2 rounded bg-gray-100 px-2.5 py-0.5 text-xs font-medium text-gray-800 dark:bg-gray-700 dark:text-gray-300"
              >Frontend Developer</span
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div data-popper-arrow></div>
</div>

<div
  data-popover
  id="popover-lookyloopz"
  role="tooltip"
  class="invisible absolute z-10 inline-block w-80 rounded-lg border border-gray-200 bg-white text-sm text-gray-500 opacity-0 shadow-sm transition-opacity duration-300 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400"
>
  <div class="p-3">
    <div class="flex">
      <div class="me-3 shrink-0">
        <a href="#" class="block rounded-lg bg-gray-100 p-2 dark:bg-gray-700">
          <img
            class="h-8 w-8 rounded-full"
            src="https://flowbite.com/docs/images/logo.svg"
            alt="Flowbite logo"
          />
        </a>
      </div>
      <div>
        <p
          class="mb-1 text-base font-semibold leading-none text-gray-900 dark:text-white"
        >
          <a href="#" class="hover:underline">LookyLoopz</a>
        </p>
        <p class="mb-4 text-sm">
          LookyLoopz is a Complete Extended Reality Platform! It's a platform
          which multiple stakeholders can collaborate to create an ecosystem
          which promotes business as well as efficiency of Extended reality
          applications. Lookyloopz helps XR content creators to create, publish,
          manage and analyze to grow the business. Content creators can publish
          their content through infinitely scalable secure cloud to their
          customers and manage their business
        </p>
        <ul class="text-sm">
          <li class="mb-2 flex items-center">
            <span class="me-2 font-semibold text-gray-400">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="h-6 w-6"
              >
                <path
                  fill-rule="evenodd"
                  d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z"
                  clip-rule="evenodd"></path>
              </svg>
            </span>
            <span
              class="me-2 rounded bg-blue-100 px-2.5 py-0.5 text-xs font-medium text-blue-800 dark:bg-blue-900 dark:text-blue-300"
              >UI</span
            >
            <span
              class="me-2 rounded bg-gray-100 px-2.5 py-0.5 text-xs font-medium text-gray-800 dark:bg-gray-700 dark:text-gray-300"
              >Frontend Developer</span
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div data-popper-arrow></div>
</div>

<div
  data-popover
  id="popover-kerala-university"
  role="tooltip"
  class="invisible absolute z-10 inline-block w-80 rounded-lg border border-gray-200 bg-white text-sm text-gray-500 opacity-0 shadow-sm transition-opacity duration-300 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400"
>
  <div class="p-3">
    <div class="flex">
      <div class="me-3 shrink-0">
        <a href="#" class="block rounded-lg bg-gray-100 p-2 dark:bg-gray-700">
          <img
            class="h-8 w-8 rounded-full"
            src="https://flowbite.com/docs/images/logo.svg"
            alt="Flowbite logo"
          />
        </a>
      </div>
      <div>
        <p
          class="mb-1 text-base font-semibold leading-none text-gray-900 dark:text-white"
        >
          <a href="#" class="hover:underline">Kerala university portal</a>
        </p>
        <p class="mb-4 text-sm">
          UI development for the new upcoming/ongoing official Kerala university
          web portal.
        </p>
        <ul class="text-sm">
          <li class="mb-2 flex items-center">
            <span class="me-2 font-semibold text-gray-400">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="h-6 w-6"
              >
                <path
                  fill-rule="evenodd"
                  d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z"
                  clip-rule="evenodd"></path>
              </svg>
            </span>
            <span
              class="me-2 rounded bg-blue-100 px-2.5 py-0.5 text-xs font-medium text-blue-800 dark:bg-blue-900 dark:text-blue-300"
              >UI</span
            >
            <span
              class="me-2 rounded bg-gray-100 px-2.5 py-0.5 text-xs font-medium text-gray-800 dark:bg-gray-700 dark:text-gray-300"
              >Frontend Developer</span
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div data-popper-arrow></div>
</div>

<div
  data-popover
  id="popover-avalis"
  role="tooltip"
  class="invisible absolute z-10 inline-block w-80 rounded-lg border border-gray-200 bg-white text-sm text-gray-500 opacity-0 shadow-sm transition-opacity duration-300 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400"
>
  <div class="p-3">
    <div class="flex">
      <div class="me-3 shrink-0">
        <a href="#" class="block rounded-lg bg-gray-100 p-2 dark:bg-gray-700">
          <img
            class="h-8 w-8 rounded-full"
            src="https://flowbite.com/docs/images/logo.svg"
            alt="Flowbite logo"
          />
        </a>
      </div>
      <div>
        <p
          class="mb-1 text-base font-semibold leading-none text-gray-900 dark:text-white"
        >
          <a href="#" class="hover:underline">Avalis</a>
        </p>
        <p class="mb-4 text-sm">
          The project offers a wide range of bonding, guarantees and collections
          services for the management of business-to-business trade receivables.
          Because the future is not always as expected, we predict trade and
          credit risk today, to protect cash flow tomorrow. So clients around
          the globe trust us to manage their trade-related insurance.
        </p>
        <ul class="text-sm">
          <li class="mb-2 flex items-center">
            <span class="me-2 font-semibold text-gray-400">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="h-6 w-6"
              >
                <path
                  fill-rule="evenodd"
                  d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z"
                  clip-rule="evenodd"></path>
              </svg>
            </span>
            <span
              class="me-2 rounded bg-blue-100 px-2.5 py-0.5 text-xs font-medium text-blue-800 dark:bg-blue-900 dark:text-blue-300"
              >Senior Software Engineer</span
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div data-popper-arrow></div>
</div>
